<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Trip Planner{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body style="background-color: {% if request.path == url_for('home') %}#fbfff0{% else %}#161c1c{% endif %}; color: #8796cf;">

    <nav style="background-color: transparent;">
        <ul style="display: flex; justify-content: center; align-items: center; padding: 0 5%;">
            <li style="margin: 0 20px; text-align: center;">
                <a href="{{ url_for('plan') }}" style="color: #5b6a95; transition: color 0.3s ease; {% if request.path == url_for('plan') %}font-weight: bold;{% endif %}" onmouseover="this.style.color='#161c1c'" onmouseout="this.style.color='#5b6a95'">Plan</a>
            </li>
            <li style="margin: 0 20px; text-align: center;">
                <a href="{{ url_for('suggestions') }}" style="color: #5b6a95; transition: color 0.3s ease; {% if request.path == url_for('suggestions') %}font-weight: bold;{% endif %}" onmouseover="this.style.color='#161c1c'" onmouseout="this.style.color='#5b6a95'">Suggestions</a>
            </li>
            <li style="margin: 0 20px; text-align: center;">
                <a href="{{ url_for('home') }}">
                    <img src="{{ url_for('static', filename='images/logo.gif') }}" alt="Trip Planner Logo" style="height: 50px; max-width: 100%;">
                </a>
            </li>
            <li style="margin: 0 20px; text-align: center;">
                <a href="{{ url_for('show_itinerary') }}" style="color: #5b6a95; transition: color 0.3s ease; {% if request.path == url_for('show_itinerary') %}font-weight: bold;{% endif %}" onmouseover="this.style.color='#161c1c'" onmouseout="this.style.color='#5b6a95'">Itinerary</a>
            </li>
            <li style="margin: 0 20px; text-align: center;">
                <a href="{{ url_for('show_todos') }}" style="color: #5b6a95; transition: color 0.3s ease; {% if request.path == url_for('show_todos') %}font-weight: bold;{% endif %}" onmouseover="this.style.color='#161c1c'" onmouseout="this.style.color='#5b6a95'">Planning Checklist</a>
            </li>
        </ul>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>